<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketPlace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-2">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href = "/" class="navbar-brand" >MarketPlace</a>
            </div>
    
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon" ></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <% if(!currentUser){ %>
                        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="/register" class="nav-link">Signup</a></li>
                    <% }else{ %>
                        <li class="nav-item"><a href="/users/<%= currentUser.id%>" class="nav-link">Signed In As_ <%= currentUser.username %></a> </li>
                        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container"></div>
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert"><%= success %></div>   
        <% } %>
    </div>

